.layout {
  display: grid;
  grid-template-columns: 700px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 7%;
  color: white;
}

.output {
  white-space: pre-line; /* Allow line breaks */
}